html{
    font-size: 20px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:black ;
    background-color: aliceblue;
    min-width: 320px;
}
img{
    max-width: 100%;
    height: auto;
}
section{
    padding: 50px 0;
}
.navbar-nav .dropdown-menu{
    right: 0;
    left: auto;
}
a{
    color: #8989e5;
}

a:hover{
    color: ghostwhite;
}
.navbar-dark .navbar-nav .nav-link{
    color: ghostwhite;
    font-weight: 500;
    text-transform: uppercase;
}
.top-menu li a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: ghostwhite;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after{
    transform: scale(1);
}